if [ ! -f ${SNET_LIBS}/libdistribzmq.la ] || ! which qsub >/dev/null 2>&1; then
  RUN=0
fi

SNETTESTFLAGS="-distrib zmq"
function run {
  local nodes=`cat ${1%/*}/nodes`
  local sport=20737
  local dport=20738
  local raddr=tcp://$(hostname -f):$sport/
  local args="-sport $sport -dport $dport"

  for ((i = 1; i < $nodes ; i++)) do
    echo "$(pwd)/$1 $args -raddr $raddr" | qsub
  done

  $1 $args -root $nodes -i $2 -o $3 
}
