if [ ! -f ${SNET_LIBS}/libdistribzmq.la ]; then
  RUN=0
fi

SNETTESTFLAGS="-distrib zmq"
function run {
  local nodes=`cat ${1%/*}/nodes`
  local base_port=15000
  local root_port=14000

  for ((i = 1; i < $nodes ; i++)) do
    $1 -sport $base_port -dport $(($base_port + 1)) -raddr tcp://localhost:${root_port}/ &
    base_port=$(($base_port + 2))
  done

  $1 -root $nodes -i $2 -o $3 -sport $root_port -dport $(($root_port + 1))
}
